site_name: RawLineEdit Documentation
repo_url: https://github.com/facelessuser/RawLineEdit
site_description: View and edit raw lines in Sublime Text.
copyright: Copyright &copy; 2013 - 2015 <a href="https://github.com/facelessuser">Isaac Muse</a>
pages:
  - About RawLineEdit: index.md
  - Installation: installation.md
  - User Guide: usage.md
  - Contributing &amp; Support: contributing.md
  - License: license.md
theme: readthedocs
theme_dir: doc_theme
markdown_extensions:
  - markdown.extensions.extra
  - markdown.extensions.admonition
  - markdown.extensions.smarty
  - markdown.extensions.nl2br
  - markdown.extensions.codehilite:
      guess_lang: false
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.betterem
  - pymdownx.tilde
  - pymdownx.caret
  - pymdownx.smartsymbols
  - pymdownx.githubemoji
  - pymdownx.tasklist
  - pymdownx.superfences
  - pymdownx.progressbar
  - pymdownx.headeranchor
